.content {
  display: block;
  flex-wrap: wrap;
  height: 83vh;
  padding: 18px;
  position: relative;

  overflow: hidden;
}


.content .mainInfos .eventDate {
  font-weight: normal;
  text-align: center;
}

.content .butts {
  position: absolute;
  width: 90%;
  bottom: 0;
}
