.content {
  display: block;
  flex-wrap: wrap;
  height: auto;
  padding: 18px;
  position: relative;

  overflow: auto;
}

.title {

  //display: flex;
  //text-align: left;
  //padding-top: 11px;
  //font-size: 0.975rem;

  font-family: Open Sans,-apple-system,sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

.im{
  display: block;
  width: 100%;
  margin: 2rem auto;
}

.link {
  text-decoration: none;
  padding-right: 3px;
  color: #3F51B5;

}

/* A link that has not been visited */
.link a {
  color: #3F51B5;
}

/* A link that has been visited */
.link a:visited {
  color: #3F51B5;
}

/* A link that is hovered on */
.link a:hover {
  color: #3F51B5;
}

/* A link that is selected */
.link a:active {
  color: #3F51B5;
}



.mainInfo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}

.content .joinButt {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

.eventMedia {
  background-image: url(https://www.w3schools.com/howto/img_nature_wide.jpg);
  height: 22%;
  display: flex;
}

@media (max-width: 600px) {

  .content {
    display: block;
    flex-wrap: wrap;
    padding: 18px;
    position: relative;

    overflow: auto;
    min-height: 100% !important;


  }

  .content .joinButt {
    clear: both;
    position: relative;
    height: 40px;
  }

  .mainInfo {
    display: inline-grid;
  }

}

.description {
  padding-top: 11px;
  font-size: 0.975rem;
  text-align: left;
}

.intro {
  padding: 5px;
}

.placeInfo {
  display: flex;
}

.timeInfo {
  display: flex;
}

.timeInfo button {
  padding-left: 0;
}

.placeInfo button {
  padding-left: 0;
}


.mainInfo p {
  padding-top: 18px;
  padding-right: 21px;
  max-width: 157px;
  max-height: 38px;
  width: 500px;
  height: 50px;
}

.straightButt {
  padding-left: 0;

}
