
.content {
  display: flex;
  flex-wrap: wrap;
  height: 87vh;

  width: 100vh;

}



.wrapper {
  padding: 20px;
  width: 100%;
  position: relative;

}

.wrapper ul .cont{
  display: block;
  box-sizing: border-box;
}


.wrapper .sendTab {
  position: absolute;
  width: 90%;
  display: flex;
  min-height: 50px;
  border: 0;
  outline: 0;
  background: transparent;
  border-top: 1px solid black;
  border-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  font-size: 12px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li{
  display:inline-block;
  //clear: both;
  padding: 20px;
  border-radius: 252px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}



.msg{
  display: block;
  color: #727387;
  padding-top: 25px;
  max-width: 93%;
  padding-left: 52px;
}

.cont .userInfo {
  padding-top: 3px;
  float:left;

  display:inline;
  padding-left: 7px;
}



.msg + .msg{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.msg:last-of-type {
  border-bottom-right-radius: 30px;
}



.cont {
  //border: 2px solid #dedede;
  //background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;

}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.cont::after {
  content: "";
  clear: both;
  display: table;
}

.cont img {
  max-width: 50px;
  margin-right: 13px;
  border-radius: 10%;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  float: left;
  padding-top: 7px;
}


.time-right {
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}


@media (max-width: 600px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    height: 87vh;
    width: 100%;
  }

  .cont img {
    float: left;
    max-width: 50px;
    margin-right: 20px;
    border-radius: 10%;
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
  }

}

