.menu div {
  min-width: 20%;
}

.profileMenu div{

}

 .requestUsrImg img {
  width: 1.5em;
  border-radius: 50%;
  height: 1.5em;

  float: left;
}

 .linker {
   color: white;
   text-decoration: none; /* no underline */
 }

 .menu div {
   min-width: 0;
   padding-right: 5px;
 }
 
 .menu ul {
   padding: 0;
 }

.requestUsrImg {
  padding: 0;
  margin: 0;
  display: inline-flex;

}
  .menuItem p{

  float: left;

}

.showLinkUser {
  padding-right: 3px;
  text-decoration: none;
}

.showLinkEvent {
  padding-left: 3px;
  text-decoration: none;
}

.showLinkUser img {
  clear: left;
  float: left;
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

.butts{

  clear: right;
  float: right;
  margin: 0 auto;
  text-align: right;
  width: 100%;

}
