.content {
  display: flex;
  flex-wrap: wrap;
  height: 83vh;
  padding: 18px;
background-color: red;
}

.attenderInfo{
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.attenderInfo p{

  padding: 11px;

}


.link {
  text-decoration: none;
  padding-right: 3px;
  color: black;

}

/* A link that has not been visited */
.link a {
  color: black;
}

/* A link that has been visited */
.link a:visited {
  color: black;
}

/* A link that is hovered on */
.link a:hover {
  color: black;
}

/* A link that is selected */
.link a:active {
  color: black;
}
