.link {
  text-decoration: none;
  padding-right: 3px;
  color: inherit;

}

/* A link that has not been visited */
.link a {
  color: inherit;

}

/* A link that has been visited */
.link a:visited {
  color: inherit;

}

/* A link that is hovered on */
.link a:hover {
  color: inherit;

}

/* A link that is selected */
.link a:active {
  color: inherit;

}
